/* All screens */

BODY {
  text-align: center;
  font-family: arial;
  background-color: #AAAAAA;
}

IMG {
  width: 100%;
  height: 100%;
}

.onload {
  border: 2px solid black;
  margin: auto;
  background-color: white;  
}

.grid {
  border: 2px solid black;
  border-collapse: collapse;
  margin: auto;
  background-color: white;
}

.grid TD {
  border: 0px solid black;
  margin: 0px;
  padding: 0px;
  display: inline-block;
}

.message {
  display: block;
  text-align: center;
}

.spacer {
  flex: 1 1 auto;
}

UL {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: flex;
}

.hide {
  display: none;
}

.center {
  text-align: center;
  display: block;
  width: 100%;
}

/* Small Screens */
 
@media only screen and (max-width: 650px) {

  BODY {
    margin: 0px;
  }

  .title {
    display: none;
  }

  .control-container{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    margin: auto;
    display: block;
    width: 100%;
  }
  
  .controls {
    display: inline;
    text-align: center;
    z-index: 1;
    opacity: .1;
    visibility: hidden
  }

  .controls TD {
    height: 25vw;
    width: 25vw;
    min-height: 25vw;
    min-width: 25vw;
    margin: 0px;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
  }

  .stats {
    display: flex;
    background-color: #FFFFFF;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    border: 2px solid black;
    font-size: 10px;
    visibility: hidden;
  }

  .heart {
    height: 15px;
    width: 15px;
  }

  .smallonly {
    display: block;
  }
}

/* Large Screens */
 
@media only screen and (min-width: 651px) {
  
  .title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .controls {
    display: none;
  }

  .stats {
    display: flex;
    background-color: #FFFFFF;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    border: 2px solid black;
  }

  .heart {
    height: 30px;
    width: 30px;
  }

  .smallonly {
    display: none;
  }
}
